[2020-07-08 05:13] gileli121 opened #2 "Unittest - When reusing the driver for multiple tests, it reported as one test only"
## Expected Behavior
I should see 2 tests in the job, each test have one step

## Current Behavior
I get job with one test that has 2 steps
![image](https://user-images.githubusercontent.com/17680514/86914317-c5d2ca80-c128-11ea-9aea-5d5265301c91.png)

## Possible Solution
Don't know

## Steps to Reproduce
Try to run the code:
[code]

## Context (Environment)
Windows 10
Agent 0.63.1
Latest SDK vers

[2020-07-08 05:39] gileli121 opened #3 "Unittest & Pytest - Can't report job with multiple tests that driver recreate before each test"
## Expected Behavior
After I execute the unittest class, I expected to see one job in the cloud report with 2 tests inside, each test have the name of it's method name.

## Current Behavior
After the unittest class finished to execute, the report I got is the execution of 2 jobs, each job have one test case with name `UntitledTestCase` (and not the name of the method)
![image](https://user-images.

[2020-07-08 08:58] gileli121 opened #4 "Driver auto commands reporting - Value of element action is not reported in the step description"
## Expected Behavior
* The step description should be `Type sometext in #my_id`
* The value should not be array

## Current Behavior
The step description is
![image](https://user-images.githubusercontent.com/17680514/86898639-a7150980-c111-11ea-9216-0da843913b14.png)
And it's value is
![image](https://user-images.githubusercontent.com/17680514/86898703-bac07000-c111-11ea-956b-d0358473386a.png)

##

[2020-07-08 09:04] basdijkstra commented on #4
Thanks. @mstrelex isn't this something we discussed should be addressed in the Agent? We've talked about this before..

[2020-07-08 10:17] gileli121 opened #6 "Extra test added in report when failing test using driver.report().test(passed=False)"
## Expected Behavior
I should see a report of one job with one test that failed

## Current Behavior
The job I get have another test:
![image](https://user-images.githubusercontent.com/17680514/86906766-b057a380-c11c-11ea-8ba3-a90e14a868b6.png)

## Possible Solution
The only workaround is to report a failed step

## Steps to Reproduce
Try to run the code:

[code]

## Environment
Windows 10
Agent 0

[2020-07-08 10:23] basdijkstra commented on #6
Hey @gileli121 could you please mention a specific SDK version instead of 'latest'? I'll look into it.

[2020-07-08 10:25] gileli121 commented on #6
I edited the bug description. it is 0.63.10rc3

[2020-07-08 10:45] basdijkstra commented on #2
Hey @gileli121, the problem here is that you're closing the driver instance in the `tearDown` method and then don't recreate it before the next test. `tearDown` is run after each test, so your code closes the driver instance after navigating to Google. Since a driver instance is only created once for the entire test run, there's no more driver to use for the second test.

If you change your code t

[2020-07-08 10:48] gileli121 commented on #2
Oops, I forgot to delete the `tearDown` method. this explains why it fails

[2020-07-08 10:49] basdijkstra commented on #2
No problem. If it works with the code I supplied please feel free to close this issue.

[2020-07-08 10:53] gileli121 commented on #2
There is another issue I have when I remove the `tearDown` method in my code.
I get this report:
![image](https://user-images.githubusercontent.com/17680514/86910420-59ed6380-c122-11ea-958b-ee1064e028a2.png)

But I expected to see 2 tests in the job and each test have one step

[2020-07-08 10:53] basdijkstra commented on #3
I don't see how I can fix this either. Reporting of a test is done on a per-session basis. The only workaround here at the moment is (and you know by know how I think about that) reusing the same driver instance for more than one test.

@mstrelex this might be a useful addition at some point: Allowing to report a single job with multiple tests automatically even if you recreate a new driver sessio

[2020-07-08 10:56] gileli121 commented on #2
What I wrote in the comment above is like what I showed in #3
Closing this issue

[2020-07-08 11:08] basdijkstra commented on #3
Looking into this right now. Seems like the logic to derive the current test name when we're using `unittest` is not perfect yet.

[2020-07-08 11:13] basdijkstra commented on #3
@gileli121 how do you run your tests in this case? Please do this either by invoking the `if __name__=="__main__" bit in your IDE or via the command line: `python -m unittest <your_test_module>`. Only then will `unittest` do proper test discovery.

The result on my end looks different from yours:

<img width="777" alt="Capture" src="https://user-images.githubusercontent.com/10740451/86912178-ce250

[2020-07-08 11:16] gileli121 commented on #3
I don't have `if __name__=="__main__"`
I use the IDE to run the test method directly.

I should not do it?

[2020-07-08 11:21] gileli121 commented on #3
I am doing it by clicking on the play button
![image](https://user-images.githubusercontent.com/17680514/86912766-3debc100-c126-11ea-967a-6514ea65b3ed.png)

[2020-07-08 11:21] basdijkstra commented on #3
No, I've noticed that unittest will not properly discover test methods in that case. Please add it so unittest can discover tests properly.

The first example on the official docs also has it: https://docs.python.org/3/library/unittest.html

[2020-07-08 11:30] gileli121 commented on #3
I did this:
![image](https://user-images.githubusercontent.com/17680514/86913512-7344de80-c127-11ea-8b7b-4ec555c8648e.png)
It was `pytest` selected before.

After that, I clicked the play button on the class (not the method)
I get now the exact result you showed in https://github.com/testproject-io/python-sdk/issues/3#issuecomment-655452857

[2020-07-08 11:32] basdijkstra commented on #3
Ah, yes, that helps, too :)

I've already created a fix for this, just a bit more testing and I'll create `rc4`

[2020-07-08 11:42] gileli121 commented on #2
After I fixed the code as you said, there is another issue now that I get one test with 2 steps instead of 2 tests with one step (for each test)

I edited this issue to the new scenario (with the new code) and reopen it.

[2020-07-08 11:45] basdijkstra commented on #3
Just finished testing the fix, it reports the tests now as expected in the example you gave.

It also reports this:

[code]
As a single job with two tests (because the driver is initialized only once).

[2020-07-08 11:48] gileli121 commented on #6
I remember that @mstrelex said (if I am not mistaken) in Java version to disable automatic detection of test names.
I am right?

Anyway, even if I add this line:

[code]
After driver creation, I get the exact same issue.

[2020-07-08 11:49] basdijkstra commented on #2
Just tested it and with the fix (and running `unittest` using `python -m unittest <module>` it reports two tests, each with a single step.

[2020-07-08 11:56] basdijkstra commented on #2
https://test.pypi.org/project/testproject-python-sdk/0.63.10rc4/ is live, please retest using this version.

[2020-07-08 11:56] basdijkstra commented on #3
https://test.pypi.org/project/testproject-python-sdk/0.63.10rc4/ is live, please retest with this version

[2020-07-08 12:13] gileli121 opened #8 "pytest - parameterized test is not reported as test with data source iterations"
## Expected Behavior
Test should look like this (with data source icon)
![image](https://user-images.githubusercontent.com/17680514/86916803-d08f5e80-c12c-11ea-994c-6a2a92f4de7c.png)

And the test steps should be:
![image](https://user-images.githubusercontent.com/17680514/86916857-e43ac500-c12c-11ea-890d-f55eec590e7d.png)
![image](https://user-images.githubusercontent.com/17680514/86916879-eb61d3

[2020-07-08 12:42] gileli121 commented on #2
Works great now!
Closing

[2020-07-08 12:42] #2 closed

[2020-07-08 12:45] gileli121 commented on #3
@basdijkstra, it is better now. But I still get 2 jobs - each one with another test.
Unlike before, this is the only issue here.

[2020-07-08 12:59] mstrelex commented on #4
Indeed Agent related, fixing in Agent 0.63.4

[2020-07-08 12:59] #4 closed

[2020-07-08 13:21] gileli121 commented on #8
Same issue also with pytest

[code]

[2020-07-08 13:30] basdijkstra opened #11 "Driver commands and other report actions in setup and teardown methods should be assigned to the proper test"
The current logic does not properly report driver commands and other actions with the test method they belong to. This needs to be addressed.

Here's an example test using `unittest` that has some steps in the `setUp` and `tearDown` methods:

[code]
What I would like to see is that these steps are reported as part of the test, and not in separate `setUp` or `tearDown` tests:

<img width="781" alt=

[2020-07-08 13:37] mstrelex commented on #8
@gileli121 This is a feature not an issue.

[2020-07-08 15:02] mstrelex commented on #11
@basdijkstra Could you please provide a more detailed explanation and a code example with a screenshot of the report?

[2020-07-08 17:56] basdijkstra commented on #11
https://github.com/testproject-io/python-sdk/pull/18 should fix this.

@gileli121 could you please retest this when a new release is available? @mstrelex will ping you.

This test:

[code]
yields this report now:

<img width="951" alt="Capture" src="https://user-images.githubusercontent.com/10740451/86953238-71dddb00-c154-11ea-8f5d-fee5287688db.PNG">

Two jobs, each with one test, because the driv

[2020-07-08 18:05] basdijkstra commented on #3
@gileli121 could you please retest this for `unittest` after https://github.com/testproject-io/python-sdk/pull/18 has been released?

[2020-07-08 18:08] gileli121 commented on #3
ok

[2020-07-09 10:09] basdijkstra commented on #6
https://github.com/testproject-io/python-sdk/pull/19 should fix this.

Using this code:
[code]
I get this report:

<img width="793" alt="Capture" src="https://user-images.githubusercontent.com/10740451/87026506-1f480180-c1dc-11ea-85a2-b80c63aa6e2e.PNG">

This is as expected. You manually report a test using `driver.report().test()`. You don't specify a name, so the name is inferred and the test me

[2020-07-10 06:03] gileli121 commented on #6
I added also `driver.report().disable_auto_test_reports(True)` before and still got extra test.
But now with this version seems that it fixed.

Closing the issue

[2020-07-10 06:03] #6 closed

[2020-07-10 06:13] gileli121 commented on #3
@basdijkstra
There is confusion here.

In comment https://github.com/testproject-io/python-sdk/issues/3#issuecomment-655467631 you tested different scenario that is not the scenario I posted in the bug.
You created the driver **once** for 2 tests. In this scenario that you tested, there are no issues at all (there was before at the time I created this issue).

Please read the original bug. You fix

[2020-07-10 13:19] DavidG8168 opened #23 "Reporter not using dev token when passed into the constructor."
Hello,

Issue is submitted due to the subject mentioned in the title.

When initializing the web driver using my dev token:
driver = webdriver.Chrome(token='MY_DEV_TOKEN', projectname='MY_PROJ_NAME')

It will still attempt to use a token in an environment variable.

[2020-07-10 13:34] gileli121 commented on #3
The issue about the test name was fixed.
The second issue is not an issue but it is an enhancement according to @mstrelex
So I will close this issue and open another issue as an enhancement.

[2020-07-10 13:34] #3 closed

[2020-07-10 13:54] gileli121 commented on #11
I got the expected result.

[2020-07-10 14:10] gileli121 opened #25 "Allow reporting test suite that recreate driver (for each test) as a one job"
## Current Behavior
When I run the test suite with multiple tests that before each test I recreate the driver, and after each test, I quit the driver,
The report is reported as 2 jobs (in case there are 2 tests for example).

This is true for unittest and pytest.

### Unittest
[code]

### pytest
[code]

When running one of these codes, the report I get is 2 jobs - first job have only the first tes

[2020-07-10 14:28] basdijkstra commented on #23
https://github.com/testproject-io/python-sdk/pull/26 should fix this.

[2020-07-12 07:35] gileli121 commented on #23
Verified on 0.63.12.
You can close this issue.

[2020-07-12 07:37] #23 closed

[2020-07-15 12:49] gileli121 commented on #11
@basdijkstra
I tried your Android example here:
https://github.com/testproject-io/python-sdk/blob/master/tests/examples/drivers/android/android_driver_test.py

 I changed the code to use unittest framework and I added 2 tests inside.
This is the code:

[code]

When running the code, I get the report:
![image](https://user-images.githubusercontent.com/17680514/87546646-88cf8080-c6b2-11ea-9955-6e985

[2020-07-15 13:16] basdijkstra commented on #11
@gileli121 I can reproduce this on my machine. Let me investigate and find a fix.

[2020-07-16 09:56] basdijkstra commented on #11
It turns out that the current implementation did not properly detect when actions were part of a `unittest` `tearDown()` or `tearDownClass()` method. As a result, commands inside these methods were seen as part of a new test instead of as part of the current test. I've added a utility method that detects whether or not test execution is inside one of these methods. If so, no new test is reported.

[2020-07-17 08:26] basdijkstra commented on #11
@gileli121 could you retest this with this test version? https://test.pypi.org/project/testproject-python-sdk/0.63.13.dev7/

[2020-07-19 09:00] gileli121 commented on #11
Verified.
You can close the issue.

[2020-07-19 09:54] basdijkstra commented on #11
Closed.

[2020-07-19 09:54] #11 closed

[2020-07-22 02:19] AndyLPK247 opened #36 "Safari WebDriver does not work on macOS"
### Problem
I cannot seem to run tests using Safari as the browser on my macOS machine. Chrome and Firefox work just fine, however. I don't know if I set up something incorrectly or if there is a problem with the TestProject agent.

### Agent Info
![Screen Shot 2020-07-21 at 10 12 07 PM](https://user-images.githubusercontent.com/17988946/88126336-42d95780-cb9f-11ea-9b29-4561f51efeee.png)

### Erro

[2020-07-22 02:41] AndyLPK247 opened #37 "pytest parameter with whitespace character has name truncated in test report"
### Example Test
[code]

### TestProject Reports
"panda" is okay:
![Screen Shot 2020-07-21 at 10 35 59 PM](https://user-images.githubusercontent.com/17988946/88127841-a5802280-cba2-11ea-9e56-3cb789b56186.png)

"polar bear" is not:
![Screen Shot 2020-07-21 at 10 37 14 PM](https://user-images.githubusercontent.com/17988946/88127892-c8123b80-cba2-11ea-8d71-b63a0895fb7e.png)

Characters after the whit

[2020-07-22 03:22] mstrelex commented on #36
Please check that you have the `Remote Automation` option under the `Developer` menu enabled in your Safari browser.

[2020-07-22 05:13] itamarklein10 commented on #36
Hello to further investigate we need you to send us your agent logs,
you can find it in the agents tab, on the right of your agent you will see 3 dots, click them and then click download logs
You can send it to here : support@testproject.io

​And if you are facing trouble doing it, you can contact us for chat support on the testproject site

[2020-07-22 06:59] vitalybu commented on #36
Even if the `Remote Automation` is not enabled, I guess the Agent shouldn't respond with a `500`...

[2020-07-22 07:03] basdijkstra commented on #36
That's what I thought. I can't properly test and reproduce this here, though, as I'm on a Windows machine and Safari doesn't work. @vitalybu @mstrelex @gileli121 @rantz-testproject can any of you please try and reproduce this and check the Agent logs to see what's happening?

[2020-07-22 07:06] basdijkstra commented on #37
No, this is not related to #8. It's an issue with the way I'm inferring test names from the info that `pytest` stores when it's running a test. I can reproduce it on my machine, should not be too hard to fix.

[2020-07-22 07:48] basdijkstra commented on #37
Created https://github.com/testproject-io/python-sdk/pull/38, which should fix this issue. See also the unit tests added.

[2020-07-22 09:31] rantz-testproject commented on #36
@bas@ontestautomation.com <bas@ontestautomation.com>
Tried it on Mac, Java SDK works fine with Safari, python returns 500 with
the above message.

On Wed, Jul 22, 2020 at 10:04 AM Bas Dijkstra <notifications@github.com>
wrote:

--
Ran Tzur | Customer Success Engineer

[2020-07-22 11:30] basdijkstra commented on #36
Somehow the capabilities weren't added to the Safari driver class, which means that this request body is sent to the Agent upon requesting a new session:

`{'projectName': 'issues', 'jobName': 'test_issue', 'capabilities': {}, 'sdkVersion': '0.63.10rc4', 'language': 'Python'}`

The Agent has no idea how to handle that, because there's no browser specification in there, so it returns an HTTP 500 (I

[2020-07-22 11:53] mstrelex commented on #36
@basdijkstra Yes, that's exactly my findings, please do create a PR and I will handle the empty capabilities case from he Agent side.

[2020-07-22 12:05] basdijkstra commented on #36
Created #40, which should fix this issue.

[2020-07-22 13:03] AndyLPK247 commented on #36
Yay! Thanks!

[2020-07-22 13:08] mstrelex commented on #36
@basdijkstra

Please add logic that reads the `message` property on **all** invalid response codes:

Python:
![Screen Shot 2020-07-22 at 08 05 42](https://user-images.githubusercontent.com/5516364/88180092-74c7d980-cbf2-11ea-914c-e241cd81c36d.png)

Java:
![Screen Shot 2020-07-22 at 08 05 37](https://user-images.githubusercontent.com/5516364/88180097-76919d00-cbf2-11ea-948d-8d2b86960364.png)

[2020-07-24 15:18] p00j4 opened #42 "Query: how to enable auto capture screenshot on any failure at any step"
The "capture screenshot" doesn't look enabled by default. I want to automatically capture the screenshots as part the TestProject Reports.

- Element locating failure
- Assert Failure

Is it supported? How to enable?
My snippet
[code]

[2020-07-24 15:31] p00j4 opened #43 "unittest: assert failure doesn't show up in the reports"
**Actual** On any assertion failure, I'm getting the fail in my local console but it's not been propagated to the reports
**Expected** The test report should have the info about the failed test (assert failure)

**To Reproduce**
[code]
**Reports** shows all green and giving false impression about the tests been passed.
![image](https://user-images.githubusercontent.com/6470509/88408289-fa18dd00-cd

[2020-07-24 16:32] basdijkstra commented on #43
Thank you for reporting this, @p00j4. At the moment, this behaviour is by design. We do all communication with the Agent through the driver object. Since assertions are not performed by the driver (i.e., by Selenium) but by the unit testing framework, the TestProject driver is not aware of which assertions are performed and what their results are, so they can’t be reported on either.

For now, the

[2020-07-24 16:36] mstrelex commented on #42
@vitalybu This will affect the storage if a screenshot is taken automatically on every command failure....

[2020-07-24 16:38] mstrelex commented on #42
Same for https://github.com/testproject-io/java-sdk - no automatic screenshots for failing commands as well.

[2020-07-24 17:11] basdijkstra commented on #43
Meanwhile, I’m going to think of a way to incorporate this in the SDK. I can definitely see the benefit of having this enhancement but I need to find a way to implement this, for both unittest and pytest assertions.

[2020-07-25 12:46] vitalybu commented on #42
I guess we could add an option for automatic screenshot capture on command failures, but it shouldn't be enabled by-default.

[2020-07-27 12:34] basdijkstra commented on #36
@mstrelex #41 takes care of that.

[2020-07-30 06:36] p00j4 commented on #43
Thanks @basdijkstra for quick response. Yes, Having this in place is a power. And without it, many will feel blocked in migrating from there traditional reporting space to TestProject because fairly, in a report, people are interested to see the bugs found (assertion failures)
Doing everywhere ```driver.report().test() or driver.report().step().``` is practically not feasible.

1. For a quicker ne

[2020-07-30 06:43] p00j4 commented on #42
Flag enabling also should be good, my intent is it's most needed feature that a user can auto collect the screenshots because adding this
```driver.report().step(...screenshot=True)```
on all assertion lines or tests is tedious and even will make test code ugly soon, hard to maintain + I only want to see screenshots when assertion fails so ideally don't want to blindly add "take screenshot" everyw

[2020-07-30 07:03] basdijkstra commented on #42
Yes, I think a feature like this does make a lot of sense. What would be required on the Agent side to make this happen, @vitalybu and @mstrelex ?

[2020-07-30 07:15] basdijkstra commented on #43
As for point 1:
I'd love to see how that works with a decorator. I don't really like the idea of monkey patching the implementation of the assert methods and classes in `pytest` and `unittest` because that can have 'interesting' by-effects and can make your test code incredibly hard to debug.. What do you think, @mstrelex ? And @p00j4, how would the solution you're thinking of work?

As for point

[2020-07-30 07:18] p00j4 commented on #43
Point 2 should be solving it right keeping [related screenshots](https://github.com/testproject-io/python-sdk/issues/42) linking in mind

[2020-07-30 17:13] mstrelex commented on #42
@basdijkstra If we implement a "default" logic or the reporter, there is no need to change anything from the Agent side.
As we discussed earlier, we also plan to implement a _JUnit_ / _TestNG_ extension for Java, one that will allow reporting assertions and thus, having a screenshot for those that fail. Perhaps we should consider similar for _unittest_ and _pytest_ here.

[2020-07-31 16:13] mstrelex opened #44 "SDK fails to create a driver instance when specifying Agent url with trailing slash"
When the Agent URL is specified with a trailing slash, e.g. `http://127.0.0.1:8585/`, SDK appends the endpoint path as `/api/development/session` which results in `http://127.0.0.1:8585//api/development/session` (note the double slashes) that returns a response code 404 when the request is sent to the Agent.

For a reference: https://forum.testproject.io/t/python-sdk-response-from-agent-404/2427/6

[2020-08-02 22:29] vitalybu commented on #44
Can this also be handled by the Agent's web server?

[2020-08-03 11:29] mstrelex commented on #44
@vitalybu I will check this.

[2020-08-10 21:11] mstrelex commented on #36
Merged #41 that will be released in 0.63.14

[2020-08-10 21:11] #36 closed

[2020-08-19 11:59] basdijkstra commented on #37
@AndyLPK247, do you have some time to retest this with the latest version (0.63.14)? If it works now you may close the issue.

[2020-08-19 12:01] basdijkstra commented on #44
Somehow GitHub automatically closed this one, reopening. @mstrelex can you confirm (have confirmed) that this is now OK? If so then please close it again :)

[2020-08-19 17:22] #44 closed

[2020-08-20 21:08] Siwangi commented on #42
After the setup of TestProject agent on my mac and developer setting on my android device, I am facing issues on loading the page of any app. It seems loader on the page has been changed to the refresh icon. To be sure I did reset to factory setting and the apps were working fine but as soon as I connected and ran the TestProject Agent, refresh icon appeared again while loading any screen instead

[2020-08-20 21:15] Siwangi opened #47 "Issue on Android device after running the TestProject Agent."
After the setup of TestProject agent on my mac and developer setting on my android device, I am facing issues on loading the page of any app. It seems loader icon on the page has been changed to the refresh icon. To be sure I did reset to factory setting and the apps were working fine but as soon as I connected and ran the TestProject Agent, refresh icon appeared again  with the complete blank scr

[2020-08-23 06:48] jeroendee opened #48 "Report decorator does not report the custom supplied values to testproject.io report"
**Expectation:**
Based on the SDK documentation: [Explicit project and job names](https://docs.testproject.io/testproject-sdk/python-sdk#explicit-project-and-job-names) I expected the @report decorator to communicate the provided values to the testproject.io _"Reports"_ section.

**Actual:**
It appears that the @report decorator does not work when (at least) the "project" and "job" arguments are p

[2020-08-23 07:51] jeroendee opened #49 "Using WebDriver set_window_size() function does not result in an uploaded report"
**Expectation:**
Normal WebDriver api calls should not block the uploading of reports to the testproject.io service.

**Actual:**
It appears that when the set_window_size() method is being used in a test, the report is not uploaded to the testproject.io service

**Execution context:**

- Windows: CLI command "systeminfo" output
[code]
- Python: python --version
[code]
- TestProject Agent version =

[2020-08-23 08:32] jeroendee opened #50 "Using wait.until(expected_conditions.ec.invisibility_of_element(_located)) will pass on a unittest level, but is shown as failed in testproject.io report"
**Expectation:**
The success of the wait.until(expected_conditions.ec.invisibility_of_element(_located)) will also be reported as a step which passed (= successful/green etc) in the testproject.io report

**Actual:**
The step is shown as failed in the testreport.io report. But running the test locally through the pytest execution will make the test pass.

testproject.io report:
![image](https://us

[2020-08-24 06:14] jeroendee opened #51 "Failing wait.Until(expected_conditions.invisibility_of_element_located()) not excluded from report through .report().disable_reports(True)"
**Expectation:**
Based on the SDK documentation: [Disable all reports](https://docs.testproject.io/testproject-sdk/python-sdk#disable-all-reports) I expected that by using these API calls:
[code]
All browser actions between the .disable_reports() statements should be excluded from reporting

**Actual:**
It appears that the failing of wait.until(expected_conditions.invisibility_of_element_located()

[2020-08-24 10:14] basdijkstra commented on #50
This is an interesting one. We decide to report a command as passed or failed based on the execution of the WebDriver command.

`invisibility_of_element_located` repeatedly executes the `findElement` WebDriver command and checks that it fails, if it keeps failing, the expected condition evaluates to true.

However, because we report on the result of the WebDriver command, not on the result of the

[2020-08-24 12:26] jeroendee commented on #50
@basdijkstra thnx for the reply. The workaround for this would be to disable the reporting of this step. But see [issue 51](https://github.com/testproject-io/python-sdk/issues/51#issue-684390535)...

[2020-08-24 12:32] basdijkstra commented on #42
#52 should fix this. Tested with the following test:

[code]
There is no element with name equal to `z`.

This is reported as follows:

<img width="728" alt="screen_issue_42" src="https://user-images.githubusercontent.com/10740451/91044983-6ec08080-e616-11ea-96c1-1541ceef8a46.PNG">

As you can see, the `find_element` driver command is automatically reported as failed, with a screenshot attached. T

[2020-08-24 13:24] basdijkstra commented on #51
PR #53 should fix this. The problem here was that I only checked for the `disable_reports` and `disable_command_reports` flag when I was actually sending command reports, not when I was stashing them for later reporting (which is what we do when we encounter `WebDriverWait`). Fixed now.

[2020-08-25 00:43] AndyLPK247 commented on #37
Fixed!
![Screen Shot 2020-08-24 at 8 42 53 PM](https://user-images.githubusercontent.com/17988946/91109927-6aae5600-e64a-11ea-9021-8bd7690f3f87.png)

[2020-08-25 00:43] #37 closed

[2020-08-25 08:41] basdijkstra commented on #48
The issue here is (probably) that the driver is created before the decorator is evaluated, because it is done in a fixture, and the decorator belongs to the test method, not the fixture.

Because of this, the decorator has not set the temporary environment variables yet when the driver is created, and as a result, the project and job names are inferred from the call stack instead of read from thes

[2020-08-25 09:27] basdijkstra commented on #48
A workaround that preserves the using of pytest fixtures is specifying the project and job names as driver arguments:

[code]

This yields the expected project and job names in the reports:

<img width="535" alt="decorator_issue" src="https://user-images.githubusercontent.com/10740451/91157625-daadf200-e6c5-11ea-9573-ce58350323f0.PNG">

In the meantime, I'll try and think of a proper way to resolv

[2020-08-25 09:43] jeroendee commented on #48
@basdijkstra yeah thanks for the tip. I'm indeed already using that.

[2020-08-26 06:59] basdijkstra commented on #42
@p00j4 once this fix is released with the latest SDK version, could you please retest it and close the issue if you're happy with the solution?

[2020-08-26 07:07] basdijkstra commented on #51
@jeroendee could you please retest this once a new version of the SDK is released? This new version should then include this fix. Please close the issue if you're happy with the solution.

[2020-08-26 07:15] gileli121 opened #54 "Android examples not always work due to keyboard"
Hello, we found an issue with the [android examples](https://github.com/testproject-io/python-sdk/tree/master/tests/examples/drivers/android)

For some android devices, these test failed because the keyboard is opened and hiding the elements that the test interact with.

The solution we found is to add to the driver capabilities the following:
[code]

This will disable the keyboard on the device.

[2020-08-26 08:03] jeroendee commented on #51
@basdijkstra will do! I'll keep an eye on the new version

[2020-08-26 09:06] basdijkstra commented on #49
For some reason, the Python Selenium bindings send two additional parameters `x` and `y` with this WebDriver command when `set_window_size` invokes `set_window_rect` (see [here](https://github.com/SeleniumHQ/selenium/blob/5a5bc38279920bd67b2c7f805bb6b3adbbc6e190/py/selenium/webdriver/remote/webdriver.py#L1312)), which is then sent to the Agent. The Agent does not like these `None` values and throw

[2020-08-26 11:11] basdijkstra commented on #8
@mstrelex do you have an update on this one? Does the Agent / the platform already support this feature? This issue has been open and inactive for a while now...

[2020-08-26 11:12] basdijkstra commented on #25
@mstrelex do you have an update on this one? Does the Agent / the platform already support this feature? This issue has been open and inactive for a while now... And I think that some work needs to be done on the Agent first..

[2020-08-26 11:14] basdijkstra commented on #54
This is fixed by #55. Thanks for reporting and for the patch, @gileli121!

[2020-08-26 11:32] mstrelex commented on #8
No, there is no support for reporting data-driven tests iterations yet.

[2020-08-26 11:36] basdijkstra commented on #54
Merged into master, so closing this issue.

[2020-08-26 11:36] #54 closed

[2020-08-26 12:11] mstrelex commented on #25
Agent has to restart the driver but to reuse the existing development session. It's an enhancement that has not been developed yet. I will update here when it's implemented.

[2020-08-27 15:43] mstrelex commented on #49
Fixed in Agent 0.64.1

[2020-08-27 15:45] basdijkstra commented on #49
@jeroendee could you install this Agent version and see if it works now? If so please close the issue. Thanks!

[2020-08-27 15:50] jeroendee commented on #49
Will do

[2020-08-27 18:52] jeroendee commented on #49
@basdijkstra @mstrelex works guys thnx very much for this great work

![image](https://user-images.githubusercontent.com/220023/91482932-25d32b00-e8a7-11ea-8b0a-9944bf2130d7.png)

[2020-08-27 18:52] #49 closed

[2020-08-30 13:01] Freudenberger opened #56 "Generic, browser-less and light driver for pure API tests"
**Problem**
To prepare simple, pure API (using e.g. module `requests`) tests based on **Python**+**unittest** I have to include `webdriver` (e.g. `Chrome`) to be able to use `driver.report()` to report test status.

**Idea**
Idea would be to prepare generic, browser-less and light driver, that would allow developer to use `report()` without initialization of any browser.

**Details**

To visualize

[2020-08-30 13:15] basdijkstra commented on #56
I really like this suggestion, and if all you need is a way to use the `report()` methods without starting an actual browser it should be fairly straightforward to implement this.

Automatically reporting based on assertions is requested in #43, so when that is implemented you should be able to benefit from that, too.

What do you say, @mstrelex?

[2020-09-02 15:16] basdijkstra commented on #43
#57 adds support for this in `pytest`, I'm still working on `unittest` support.

[2020-09-03 16:55] mstrelex commented on #25
@basdijkstra Support has been added to Agent 0.64.20+
Please see https://github.com/testproject-io/java-sdk/pull/32

[2020-09-04 11:41] basdijkstra commented on #43
Support for `unittest` is now also added in the same PR (#57)

[2020-09-17 14:54] basdijkstra commented on #42
@p00j4 please retest this with version 0.63.15, now available: https://pypi.org/project/testproject-python-sdk/0.63.15/ and close the issue if you're happy with the solution.

[2020-09-17 14:54] basdijkstra commented on #43
@p00j4 please retest this with version 0.63.15, now available: https://pypi.org/project/testproject-python-sdk/0.63.15/ and close the issue if you're happy with the solution.

[2020-09-17 14:54] basdijkstra commented on #51
@jeroendee please retest this with version 0.63.15, now available: https://pypi.org/project/testproject-python-sdk/0.63.15/ and close the issue if you're happy with the solution.

[2020-09-17 15:03] jeroendee commented on #51
Will do @basdijkstra

[2020-10-27 13:57] basdijkstra commented on #56
I created #60 yesterday, which implements this enhancement.

[2020-10-29 07:59] basdijkstra commented on #56
#60 is included in the latest version of the SDK, i.e., 0.63.17. @Freudenberger, could you please test this out using

`self.driver = webdriver.Generic()`

in your code sample? This is a generic driver that can be used to send reports to TestProject, but doesn't have the overhead of starting a web browser which you then don't use in your API (or other type of non-UI) test.

[2020-11-09 16:32] pgaurlinux opened #64 "Install failing because of unavailability of Appium-Python-Client for v1.0.1"
I'm currently working with testproject-io which requires Appium-Python-Client==1.0.1 and it seems this is not available currently on the repo at following location https://pypi.org/project/Appium-Python-Client/#files

Is testproject-io compatible with Appium-Python-Client==1.0.2(latest version) ??
Can you help solving this issue.

[2020-11-09 16:38] #64 closed

[2020-11-09 16:39] pgaurlinux commented on #64
My bad for not looking thoroughly. It is present at this location.
https://pypi.org/project/Appium-Python-Client/1.0.1/#files

[2020-11-11 18:42] DavidG8168 opened #67 "Webdriver.Generic is unable to report assertions"
When using Webdriber.Generic, no assertions will be reported to TestProject, only the first assertion will appear as skipped:

![image](https://user-images.githubusercontent.com/45967111/98850987-451d3580-245e-11eb-8d79-2e5d52ad44cb.png)

See PyTest code:

[code]

[2020-11-11 18:46] DavidG8168 opened #68 "Un-sanitized assertions in test reports"
Some assertions appear with additional unwanted characters such as line breaks in the reports, for example while running the following assertion:

def get_response_status_code():
    response = requests.get("https://www.metaweather.com/api/location/search/?query=San Francisco")
    return response.status_code

@report_assertion_errors
def test_response_status_code():
    # Should be equal to 200.

[2020-11-11 18:54] DavidG8168 opened #69 "Passed assertions aren't included in test reports"
When running tests with testing frameworks and working with assertions, passed assertions aren't included in the test reports, instead, the tests are marked as skipped:

![image](https://user-images.githubusercontent.com/45967111/98852094-d345eb80-245f-11eb-9a83-a9aebd72e52a.png)

I think it would be a great feature to have the passed assertions reported as well, as passed steps in the reports.

[2020-11-13 14:01] basdijkstra commented on #67
I have just submitted #70, which provides a fix for this issue. The problem was that whenever an `AssertionError` was raised, I need the current driver instance to report the assertion error to TestProject. However, I erroneously only tried to retrieve the current instance of (extensions) of the `BaseDriver` class, but the generic driver does not extend that class (nor does the Remote driver, by t

[2020-11-13 14:04] basdijkstra commented on #42
@p00ja, could you please retest this fix? I'm closing this issue in 7 days from now.

[2020-11-13 14:05] basdijkstra commented on #43
@p00ja, could you please retest this fix? I'm closing this issue in 7 days from now.

[2020-11-13 14:05] basdijkstra commented on #56
@Freudenberger , could you please test this feature? I'm closing this issue in 7 days from now.

[2020-11-13 14:06] basdijkstra commented on #51
@jeroendee, could you please retest this fix? I'm closing this issue in 7 days from now.

[2020-11-16 07:12] basdijkstra commented on #67
Merged #70, will be included in the next release.

[2020-11-16 10:10] Rantzur1992 opened #71 "Add a flag to suppress SDK warnings"
A Boolean flag should be added to the SDK driver to be able to control and suppress warnings.

For example, while building my own test, I control the flow of how the tests are reported, the following warning:

`[ WARN ] Automatic reporting is enabled, disable this using disable_reports flag when creating a driver instance to avoid duplicates in the report`

Is redundant.

[2020-11-16 10:14] Rantzur1992 opened #72 "[Robot Framework] Some built in robot methods are being automatically reported"
While creating my library is Robot Framework using the TestProject SDK, I have encounter a 'phantom' test called run_cli which is being reported in my Tests while using my Custom library.

![image](https://user-images.githubusercontent.com/6703682/99240378-152ab500-2805-11eb-86ac-f0b44c70fd9d.png)

This is probably coming from the Robot framework it self.

[2020-11-16 10:14] basdijkstra commented on #71
@mstrelex I discussed this with @Rantzur1992 earlier today, this is (in my opinion) specific to the Robot Framework implementation. I still *do* want this warning to show up for people using the regular Python SDK, because using both automatic test reporting and `driver.report().test()` will still result in duplicate tests being reported.

My suggestion: control this using an environment variable

[2020-11-16 10:17] basdijkstra commented on #72
As we have discussed, @Rantzur1992, I indeed suspect that this is due to you using Robot Framework on top of the Python SDK, something I did not foresee when I built the logic that detects whether or not the current test name has changed.

Happy to add this to that logic, but first I'll need a script and the required modules to be able to reproduce this. Not sure yet, but this one might take a lit

[2020-11-16 10:18] Rantzur1992 commented on #71
What about users who will run the tests using the library who don't have this environment variable?

[2020-11-16 10:22] basdijkstra commented on #71
I assumed that your `TestProject-Robot-Library` would set that environment variable. I'd prefer not to bother the users of the library with that problem, especially since all configuration is done for them, as you said.

The alternative would be to automatically detect (somehow) that Robot Framework is used right before this warning is logged, and only log it when RFW is *not* used. But that's pro

[2020-11-16 10:23] vitalybu commented on #71
Environment variable is good enough

[2020-11-16 10:27] Rantzur1992 commented on #71
Got it, that would be good

[2020-11-16 10:33] basdijkstra commented on #71
I'm going to add that environment variable then. Is this the only warning you've seen so far or did you see other (warning) messages that should be suppressed, too?

[2020-11-16 11:04] Rantzur1992 commented on #71
It is the only one so far

[2020-11-16 11:53] basdijkstra commented on #71
Just created #73 which adds this feature. Set `RFW_SUPPRESS_WARNINGS` to `true` (or `True`, or `TRUE`, or any other case insensitive match) and the warning will be suppressed.

[2020-11-16 14:39] Rantzur1992 opened #74 "Add the option to pass dictionary to desired_capability"
In my Library I have the options to create Capabilities hardcoded as a string where I parse it to dictionary.
At the moment the driver takes only Options object because it calls the to_capabilities() method.

`self._build_capabilities(WebDriverCreator(os.getcwd())._parse_capabilities(
                                                                            capabilities=desired_capabilities,

[2020-11-16 16:12] vitalybu commented on #74
What do the "native" Selenium drivers take as arguments?

[2020-11-16 16:21] basdijkstra commented on #74
Both, through named arguments: https://github.com/SeleniumHQ/selenium/blob/trunk/py/selenium/webdriver/chrome/webdriver.py

Probably a good idea to implement something similar here..

[2020-11-18 08:07] jeroendee commented on #51
@basdijkstra using the latest agent (0.65.2) and the latest python sdk version (0.63.18), the failing step is still being reported.

I'm using the above repro case code

![image](https://user-images.githubusercontent.com/220023/99502508-737aa380-297d-11eb-9980-3434dc2b6616.png)

[2020-11-18 09:56] basdijkstra commented on #51
That's probably due to #50 still being open. The fix should work for 'positive' expected conditions, such as visibility_of_element_located. That's what I used to test this fix, because the one you're using will indeed still be reported as failed.

I propose closing this one (feel free to play around with it first) and copying these comments into #50.

[2020-11-18 10:07] jeroendee commented on #51
Agreed! Let's close this issue. And continue with #50

[2020-11-18 10:07] #51 closed

[2020-11-19 10:17] Rantzur1992 opened #75 "Vague error messages"
Using this test:

[code]

When the desired browser is not installed, the SDK returns the HTTP code instead of the message from the agent.

`src.testproject.sdk.exceptions.agentconnectexception.AgentConnectException: Agent responded with HTTP status 404: [404 Client Error: Not Found for url: http://127.0.0.1:8585/api/development/session]`

[code]

[2020-11-20 07:41] basdijkstra commented on #42
Closing this issue. @p00j4, if you have the time at some point, feel free to test the solution and if something's still not right, reopen this issue.

[2020-11-20 07:41] #42 closed

[2020-11-20 07:42] basdijkstra commented on #43
Closing this issue. @p00j4, if you have the time at some point, feel free to test the solution and if something's still not right, reopen this issue.

[2020-11-20 07:42] #43 closed

[2020-11-20 07:42] basdijkstra commented on #56
Closing this issue. @Freudenberger, if you have the time at some point, feel free to test the solution and if something's still not right, reopen this issue.

[2020-11-20 07:42] #56 closed

[2020-11-20 12:04] basdijkstra commented on #75
I've just submitted #78 for review, which adds better error messages and raising a `MissingBrowserException` when the requested browser is not found.

@mstrelex, I suppose you might also want to add this to the Java SDK? As far as I know it's not in there either.

[2020-11-20 12:13] basdijkstra commented on #74
I've just submitted #79, which adds the option to pass in capabilities as a dictionary directly (using a named parameter `desired_capabilities`) when creating a Chrome, Firefox, Edge or IE session.

So, for example, you can do this:

[code]

[2020-11-20 17:26] Rantzur1992 opened #80 "401 Token Is Invalid returns in 0.63.18.dev14"
While using 0.63.18.dev14 with the example test

[code]

I'm getting
`InvalidTokenException: 401 Client Error: Unauthorized for url: http://127.0.0.1:8585/api/development/session`

`[ ERROR ] Failed to initialize a session with the Agent - invalid developer token supplied`

Using the previous dev version or the official on Pypi works well.

[2020-11-20 17:48] Rantzur1992 commented on #80
I found out the issue, it was because of the added argument
`driver = webdriver.Firefox(firefox_options=desired_capabilities, token=dev_token, projectname=project_name, jobname=job_name, disable_reports=disabled_reports)`
is working
`driver = webdriver.Firefox(desired_capabilities, dev_token, project_name, job_name, disabled_reports)`

Was not, because of the position of the dev token argument.
My

[2020-11-20 17:55] #80 closed

[2020-11-22 13:05] Rantzur1992 commented on #72
@basdijkstra Adding a check if the report_test method
`def report_test(self):
        """Sends a test report to the Agent if this option is not explicitly disabled
        """
        if self._latest_known_test_name == "main" or self._latest_known_test_name == "run_cli":
            return`
Does help but it will not allow users to call their tests by this names and get reports so this is limiting,

[2020-11-22 16:46] vitalybu commented on #72
This is not going in the right direction.
It doesn't make sense to hard-code framework specific function names into the SDK.
But assuming that the Robot framework is not only framework with this side-effect, perhaps we should allow to "exclude" certain test names from the reports.

We could provide an API that will allow a user to manage a sort-of "test names exclusion" list.
@basdijkstra, @mstrel

[2020-11-23 08:53] basdijkstra commented on #72
That's not where the test inferring logic is located, that's happening here: https://github.com/testproject-io/python-sdk/blob/b8583a8abf3bdc1f978fad6f692e980de00bc7ea/src/testproject/helpers/reporthelper.py#L26

[2020-11-23 08:58] basdijkstra commented on #72
Well, we do something similar for pytest and unittest..

I agree, that's a much more generic way to solve this. Who knows what other frameworks (existing or custom built) are going to be used on top of the SDK, I'd hate to have to maintain the code that takes these all into account :)

I can think of two possible solutions:

1. Specify test names to be excluded in a decorator
2. Specify test names

[2020-11-23 09:22] basdijkstra commented on #74
#79 was merged, so this option should be available to you in the next release, @Rantzur1992.

[2020-11-23 09:53] vitalybu commented on #72
Let's go with the second option.

[2020-11-23 10:21] vitalybu commented on #74
@basdijkstra, do you think you'll be able to implement #72 today?
We want to release the robot library, but need that one before we can.

[2020-11-23 11:42] basdijkstra commented on #75
#78 was just merged, so that can be tested by @Rantzur1992 when a new release is available.

[2020-11-23 12:23] basdijkstra commented on #72
Just submitted #81, which should provide a means to skip reporting of these tests.

[2020-11-25 07:43] basdijkstra commented on #25
I've just submitted #83, which provides an implementation for this feature.

[2020-11-25 07:56] basdijkstra opened #84 "Passing neither options nor capabilities in the driver constructor results in an error"
The following test:

[code]
fails with version 0.63.19 of the SDK, because the capabilities sent to the Agent will be empty.

[2020-11-25 08:39] vitalybu commented on #84
How come it wasn't caught by the CI?
We don't have a test using the default settings?

[2020-11-25 08:43] basdijkstra commented on #84
No, because all our tests are (have to?) run headless there, and the only way to do that is by specifying so in options / capabilities.

[2020-11-25 09:52] basdijkstra commented on #84
Fixed by #85.

[2020-11-25 09:52] #84 closed

[2020-11-26 07:35] basdijkstra commented on #75
@Rantzur1992 can you retest this with the latest version 0.64.0?

[2020-11-26 07:35] basdijkstra commented on #74
@Rantzur1992 can you retest this please with the latest version 0.64.0?

[2020-11-26 07:35] basdijkstra commented on #72
@Rantzur1992 can you please retest this with the latest version 0.64.0?

[2020-11-26 07:36] basdijkstra commented on #71
@Rantzur1992 can you please retest this with the latest version 0.64.0?

[2020-11-26 07:36] basdijkstra commented on #67
@DavidG8168 can you please retest this with the latest version 0.64.0?

[2020-11-26 07:37] basdijkstra commented on #25
@gileli121 can you please retest this with the latest version 0.64.0?

[2020-11-26 09:08] Rantzur1992 commented on #71
@basdijkstra It works well, thank you.

[2020-11-26 09:23] basdijkstra commented on #71
Thank you for letting me know, closing the issue.

[2020-11-26 09:23] #71 closed

[2020-11-26 09:27] Rantzur1992 commented on #74
@basdijkstra Thanks it seems to work well.

[2020-11-26 09:28] Rantzur1992 commented on #72
@basdijkstra  Using it with Robot Library, everything is good you can close thank you.

[2020-11-26 09:28] #74 closed

[2020-11-26 09:29] basdijkstra commented on #72
Closing this issue as it has been resolved.

[2020-11-26 09:29] #72 closed

[2020-11-26 09:37] Rantzur1992 commented on #75
Looks good, thank you.

[2020-11-26 09:37] #75 closed

[2020-11-26 17:43] DavidG8168 commented on #67
@basdijkstra It now fails with a different error, note this is is the sample Generic driver test from the repository with my developer token added to the constructor:

`      src.testproject.sdk.exceptions.agentconnectexception.AgentConnectException: Agent responded with HTTP status 500: [500 Server Error: Internal Server Error for url: http://1
27.0.0.1:8585/api/development/session]

c:\python3.8

[2020-11-26 17:58] basdijkstra commented on #67
That is strange, nothing has changed in this class. I even set the platform in code: https://github.com/testproject-io/python-sdk/blob/83cf30cb08b1c41681248c3b7f75dcd212fe90aa/src/testproject/sdk/drivers/webdriver/generic.py#L91

I’ll see if I can reproduce this tomorrow and see what’s happening.

[2020-11-27 07:51] basdijkstra commented on #67
So I ran your tests on my machine, with SDK version `0.64.0` and Agent version `0.65.3`, and they run fine. This is what I see in the reports:

<img width="777" alt="issue_67" src="https://user-images.githubusercontent.com/10740451/100424281-a3b4f700-308d-11eb-822d-ddb38f653d05.PNG">

Exactly as expected.. I'll try again with the latest Agent version (the one you're using, too) to see what happens

[2020-11-27 07:58] basdijkstra commented on #67
Hmm.. When I try and run the same test code with Agent version `0.64.10`, I get the same errors as you do, @DavidG8168. It seems like something changed in the way the Agent handles incoming sessions. @mstrelex can you have a look at this?

[2020-11-27 14:38] mstrelex commented on #67
@DavidG8168

Java SDK seems to work fine sending these capabilities:
`{"caps":{"platformName":"ANY","tp:guid":"***"}}`
What does Python send?

[2020-11-27 14:54] mstrelex commented on #67
@basdijkstra

That;'s why Java has enums and not plains strings:
https://github.com/testproject-io/java-sdk/blob/master/src/main/java/io/testproject/sdk/drivers/GenericDriver.java#L259

You should also change it from `platform` to `platformName`:
https://github.com/testproject-io/python-sdk/blob/master/src/testproject/sdk/drivers/webdriver/generic.py#L91

[2020-11-27 14:56] basdijkstra commented on #67
`'capabilities': {'platform': 'ANY'}`, which worked fine with the previous Agent, but not with Agent `0.65.10`. If I change the capability (again, it's hardcoded) to `'capabilities': {'platformName': 'ANY'}`, the test runs with Agent `0.65.10`.

I haven't tested yet if that also works with earlier Agent versions. If that's the case, it's probably best to fix the SDK, if not (i.e., the Agent is not

[2020-11-27 15:14] basdijkstra commented on #67
Just submitted #87 which should fix the issue. Tested with Agent versions `0.65.3` and `0.65.10` and the updated capability name works with both Agent versions.

[2020-12-01 07:51] Rantzur1992 opened #89 "Incorrect error message when mobile device is not found"
Running this test after the latest changes in the Python SDK:

[code]

If the SDK fails to find the connected device (Gave an incorrect UDID by choice) , it returns **Browser Not found** error.

`src.testproject.sdk.exceptions.missingbrowserexception.MissingBrowserException: Requested browser could not be found on your system`

[2020-12-01 07:58] basdijkstra commented on #89
I can't really change that, or at least not easily. The type of exception thrown is based on the response status code sent back by the Agent, and it looks like it returns a 404 both when a (desktop) browser is not installed *and* when the Agent cannot find the device specified through the UDID (the SDK doesn't find the device, the Agent does).

If the Agent returns a different status code, it's ea

[2020-12-01 08:02] Rantzur1992 commented on #89
@mstrelex I think this should be changed

[2020-12-01 09:21] vitalybu commented on #89
The Agent's doesn't return a different message for missing browser/mobile device?
If not, I think we should keep the 404 code (as it really represents the response), but maybe also return a correct error message.

[2020-12-15 10:40] MeidanNasi opened #93 "Reports are combined for two different drivers sessions"
following a simple test which will be executed on two different browsers:

[code]

when navigating to the reports, we can see that both reports are combined in a single one:

![image](https://user-images.githubusercontent.com/50370242/102204579-ae1b2180-3ed2-11eb-82fb-787af97072ab.png)

[2020-12-15 12:05] basdijkstra commented on #93
Hey @MeidanNasi, this is expected behavior, at least right now, with the design decisions that we made.

The way this feature is currently implemented is that we add tests to the same job if:

- the project and job name are the same, and
- the SDK version and the Agent version support the feature

[2020-12-15 12:28] MeidanNasi commented on #93
Hey @basdijkstra, @mstrelex ,

I was performing the same test implemented using TestProject openSDK in Java, it was creating two different reports for each driver:
![image](https://user-images.githubusercontent.com/50370242/102214967-b0d14300-3ee1-11eb-9077-0c1dc4a05562.png)

isn't it should be the same?

[2020-12-15 12:31] basdijkstra commented on #93
Hmm.. That's inconsistent indeed. Are you using the latest version of the Java SDK and the Python SDK?

@mstrelex what's your take on this?

[2020-12-15 12:38] MeidanNasi commented on #93
Yes,
testproject-python-sdk 0.64.1
io.testproject:java-sdk:0.64.5-RELEASE

[2020-12-20 17:01] tzah4748 commented on #68
https://github.com/testproject-io/python-sdk/pull/99

[2020-12-24 15:00] tzah4748 opened #101 "SDK ignoring project name in @report annotation."
When using the @report annotation to decide the project name, the SDK ignores it and instead infers the name of the project to the pytest file.

**How to reproduce?**
[code]

The following report is created with multiple issues :

![image](https://user-images.githubusercontent.com/37114431/103095391-21c2da00-4609-11eb-92f7-35bfc1a60bc4.png)

1. Project name is ignored, instead we see the python fi

[2020-12-28 10:43] tzah4748 opened #102 "CI Build is broken."
@basdijkstra - Please take a look at this PR --> https://github.com/testproject-io/python-sdk/runs/1585216515?check_suite_focus=true

The problem comes from here:
https://github.com/testproject-io/python-sdk/blob/c17894162e28ca584d3912aa5f9d460ec53120ed/setup.py#L26

It fails to build because 'Appium-Python-Client' updated to v1.0.2 which requires a newer version of Selenium.

You personally made

[2020-12-28 10:59] basdijkstra commented on #102
Appium-Python-Client `1.0.2` is OK (I've tested that myself, too), but I see in the install logs that it installed `2.0.0a0`, an alpha version of a brand new Appium-Python-Client, and that's requiring Selenium 4, which is also still in alpha status.

I did not even know that setuptools installed pre-release versions unless explicitly requested, but it seems like it does: https://github.com/pypa/se

[2020-12-29 09:15] tzah4748 commented on #102
https://github.com/testproject-io/python-sdk/pull/104

[2020-12-29 09:15] #102 closed

[2020-12-29 13:52] #68 closed

[2020-12-30 11:16] tzah4748 commented on #89
https://github.com/testproject-io/python-sdk/pull/105

[2020-12-30 14:30] #89 closed

[2020-12-30 14:35] tzah4748 commented on #101
https://github.com/testproject-io/python-sdk/pull/106 Merged

[2020-12-30 14:35] #101 closed

[2020-12-30 14:39] #67 closed

[2020-12-30 14:49] tzah4748 commented on #69
I investigated this enhancement request and the findings were not promising.

'assert' - is a built in python statement which we can roughly translate info the following :

[code]

To my knowledge there is no way to "decorate" the regular assert statement, nor catch its success.
When assert fails it throws an exception, it makes sense to handle the exception.
But when it passes, nothing happens, t

[2020-12-30 15:03] tzah4748 opened #107 "SDK Ignores StepSettings when executing addons."
According to our QA @gileli121 (https://dev.testproject.io/jira/browse/TP-13809), the SDK currently ignores invert result.

Seems it ignores all the newly added StepSettings object.

[2021-01-04 14:03] tzah4748 commented on #48
https://github.com/testproject-io/python-sdk/pull/106

@jeroendee - The above MR should fix the issue, a new version of the SDK will be released in the next few days including this fix.

[2021-01-05 14:49] tzah4748 commented on #101
Duplicate of https://github.com/testproject-io/python-sdk/issues/48 - > Reopened.

[2021-01-05 15:49] tzah4748 commented on #48
@jeroendee - After I've investigated this myself a bit I am really not sure if what you ask here is possible.

As Bas said before me, the pytest.fixture is evaluating the driver BEFORE the 'report' decorator.
Once the driver initializes, the session is already opened with a project and job name, it cannot be changed any longer.

After a few changes I made, you can now use the decorator to set a sp

[2021-01-05 15:49] #48 closed

[2021-01-06 13:38] #107 closed

[2021-01-07 16:42] tzah4748 commented on #50
I've investigated this as much as I could myself and to conclude I would have to suggest to NOT use the `WebDriverWait `for automatic step reports.
I'll explain...

Just as Bas said, a `WebDriverWait `will execute the same WebDriver command over and over (at least once), each command execution will be reported as a Step in the platform.
The Step is evaluated to passed if the command executed succe

[2021-01-10 12:21] tzah4748 commented on #93
@mstrelex Waiting your response...
What do we want to do with this?

[2021-01-10 12:21] tzah4748 commented on #25
@gileli121 - Waiting for you to confirm/verify this.

[2021-01-10 15:02] tzah4748 commented on #50
Vitaly suggested using "monkey patching" OR creating a WebDriverUntil of our own.
Will test the suggestions...

[2021-01-11 13:24] tzah4748 commented on #93
@MeidanNasi - Talked to Marat, this behavior is expected.

If you would want each test in a different job you need to specify `jobname="something"` when creating the driver.

[2021-01-11 13:30] #93 closed

[2021-01-12 11:02] gileli121 commented on #25
@basdijkstra
Sorry but I don't get the expected resultl.
I tested it with the code of the pytest version.
I got this:
![image](https://user-images.githubusercontent.com/17680514/104305952-05161580-54d6-11eb-999f-e00fe5200537.png)
I expected to get here 2 tests and not 1 test.
The second test should be callsed "test_some_test_case_2" with step "Navigate To http://yahoo.com/"
but it is missing. I al

[2021-01-17 10:33] tzah4748 commented on #50
#113 - Improvement PR.

[2021-01-26 10:36] kfiryosef opened #120 "An incorrect message is received when an Android device is on recording mode while running a test via Python SDK"
Hi, this is the message I received when I ran the test with the Python SDK while the Agent was on recording mode with an Android device:

.testproject.sdk.exceptions.agentconnectexception.AgentConnectException: Agent responded with HTTP status 409: [Test Aborted: 'Chrome' driver cannot be created in 'Android' device.]

[testdemo2.zip](https://github.com/testproject-io/python-sdk/files/5872800/test

[2021-02-08 12:43] chris-hibberd opened #130 "AgentClient._request_session_from_agent does not respect TP_AGENT_URL"
I'm working on WSL2 with the TestProject agent running on Windows so that it can connect to devices attached via USB.  I configure requests to the agent to go to the virtual network interface that Windows uses for WSL2 by setting TP_AGENT_URL to e.g. http://172.19.160.1:8585 and then forward them to the agent on the Windows network (with matching firewall rules).

However, since the agent is runni

[2021-02-09 10:44] gileli121 opened #132 "Behave framework - Job name is __main__ when not specify it in the job_name attribute"
**My code:**

features/environment.py:
[code]

features/steps/step_definitions.py:
[code]

features/web_test.feature:
[code]

**Issue**
If I run the following code, I get this issue in report:
![image](https://user-images.githubusercontent.com/17680514/107352064-1867d100-6ad4-11eb-9b3c-0781db17ad63.png)

**Expected Result**
It should take the job name from here
![image](https://user-images.githubu

[2021-02-10 08:55] gileli121 opened #135 "Behave framework - Steps and headers reported in wrong order"
Given that you have this code:

 features/steps/step_definitions.py
[code]
 
features/web_test.feature
[code]

environment.py
[code]

The report you get is this:
![image](https://user-images.githubusercontent.com/17680514/107486465-c1becd80-6b8d-11eb-9573-57aeba7bca12.png)

The expected result is this:
 * Given Given Header
 * GIVEN STEP
 * And And Header
 * AND STEP
 * But But Header
 * BUT STEP

[2021-02-10 13:45] MeidanNasi opened #136 "Reports are"

[2021-02-10 13:45] #136 closed

[2021-02-10 13:49] MeidanNasi opened #137 "Test result is Skipped in the UI reports when setting the "passed" param to True"
Using a Generic driver: `from src.testproject.sdk.drivers.webdriver import Generic`
and setting the test func to: `driver.report().test(name="Test", passed=True, message="Check")`

The test result will be "Skipped" in the platform instead of "passed"

![image](https://user-images.githubusercontent.com/50370242/107518207-6a355780-6bb7-11eb-9938-921df01c9c31.png)

For `passed=False` the test result

[2021-02-10 13:54] basdijkstra commented on #137
I *think* that is because empty tests (tests without any steps in them) are reported as Skipped by default, unless they're explicitly marked as Failed.

Could you try and add a `driver.report().step()` before the `driver.report().test()` and see if that results in the desired test result?

[2021-02-10 14:06] mstrelex commented on #130
Hi @chris-hibberd

Indeed this could be a great addition if you implement it and submit a PR.
For this you will have to use the host from `TP_AGENT_URL` and replace the one used here:
https://github.com/testproject-io/python-opensdk/blob/ffeedaaf1a6b13c959716944a98fe2482d7b6edd/src/testproject/sdk/internal/agent/agent_client.py#L183

The only problem is that we restrict the Appium server to localh

[2021-02-10 16:08] DavidG8168 commented on #132
Should be handled in this PR:
https://github.com/testproject-io/python-opensdk/pull/138

[2021-02-11 11:31] chris-hibberd commented on #130
The way I had it working was as follows (with modifications to the line you highlighted in the sdk):
- The Windows version of the agent runs on Windows so that it can connect to the USB devices for testing and is visible to the TestProject cloud platform. It is no problem for that agent to use the localhost address.
- The test driver, running in WSL2 (because that's where I have my development env

[2021-02-13 15:33] mstrelex commented on #130
Nice!

You can actually set the port to be a fixed number, using the `TP_SDK_PORT` environment variable that we use for Agents in Docker (https://hub.docker.com/r/testproject/agent)

[2021-02-15 11:27] gileli121 opened #140 "Behave framework - Getting only one test in job when not specify job name in driver constructor"
Given that you have the following setup:

features/web_test.feature:
[code]

features/environment.py:
[code]

features/steps/step_definitions.py
[code]

**Issue**
When running this setup, I get one job with one test in reports.

Changing in `features/environment.py`:
[code]

To:
[code]

Will fix the issue

[2021-02-15 15:57] #132 closed

[2021-02-15 15:58] tzah4748 commented on #140
Duplicate of #25

[2021-02-15 15:58] #140 closed

[2021-02-15 17:11] tzah4748 commented on #50
https://github.com/testproject-io/python-opensdk/releases/tag/v0.65.2

[2021-02-15 17:11] #50 closed

[2021-02-16 08:43] vitalybu commented on #120
What were you trying to do? Run a test via the SDK while the Agent is in "Recording" mode?

[2021-02-16 09:41] kfiryosef commented on #120
Exactly.
I didn't do it on purpose, but that was the case.

[2021-02-16 10:30] tzah4748 commented on #25
I just tested this with Python-SDK 0.65.2 and Agent 0.65.50
![image](https://user-images.githubusercontent.com/37114431/108050730-adc61080-7052-11eb-8070-015ec1b9fe58.png)

[2021-02-16 10:30] #25 closed

[2021-02-16 11:07] vitalybu commented on #120
That's not currently supported, the Agent can either "Record" or "Execute" at any given time.
Please close this issue and open an internal one to fix the message returned by the Agent.

[2021-02-16 13:44] kfiryosef commented on #120
OK, thanks.

[2021-02-16 13:44] #120 closed

[2021-03-14 09:04] Rantzur1992 opened #142 "Contains Text (if visible) fails to serialize to JSON when element is captured by XPATH"
Consider this code:

[code]
Fails at

[code]

With the following error:
![image](https://user-images.githubusercontent.com/6703682/111063010-0d2e0980-84b5-11eb-9551-9582c741cb9a.png)

Changing `q = (By.XPATH, "//div[2]/input") ` to work with CSS Selector instead of XPATH works fine.

[2021-03-15 07:58] Rantzur1992 opened #143 "AttributeError: 'CustomCommandExecutor' object has no attribute 'step_settings'"
Using this test:

[code]

Results in:

`FAILED test_1_244_demo.py::test_main - AttributeError: 'CustomCommandExecutor' object has no attribute 'step_settings'`

At step:

[code]

Using SDK 0.65.2

[2021-03-15 13:21] tzah4748 opened #144 "'NoneType' object is not iterable while using an Android addon with Python SDK"
Running an addon that doesn't return anything in the result's 'fields' will cause a TypeError.

[code]
E       TypeError: 'NoneType' object is not iterablevenv\lib\site-packages\src\testproject\sdk\internal\agent\agent_client.py:432: TypeError

[2021-03-17 12:21] #142 closed

[2021-03-18 13:10] #143 closed

[2021-03-31 11:11] Rantzur1992 opened #151 "MobileBy locators are not valid when executing addons."
[code]

results in:

`FAILED test_iphone_settings_swipe.py::test_main - src.testproject.sdk.exceptions.sdkexception.SdkException: Did not recognize locator strategy accessibility id`

[2021-03-31 12:24] #151 closed

[2021-03-31 12:24] #144 closed

[2021-03-31 12:29] Rantzur1992 commented on #137
I was not able to reproduce this, this issue is not longer valid therefore closed.

[2021-03-31 12:29] #137 closed

[2021-04-08 12:11] Rantzur1992 opened #160 "Tests within a Class report the Class instead of test names"
This class for example:

[code]

Reports the following:

![image](https://user-images.githubusercontent.com/6703682/114024647-fb097600-987c-11eb-8532-ed17d38b6448.png)

Instead of reporting the tests inside the class.

[2021-04-08 12:33] #160 closed

[2021-04-19 16:29] Rantzur1992 opened #162 "find_element using MobileBy.ANDROID_UIAUTOMATOR returns 500"
`self._driver.find_element(MobileBy.ANDROID_UIAUTOMATOR, "new UiSelector().text(\"SAVE\")").click()`

Returns:

`selenium.common.exceptions.WebDriverException: Message: An unknown server-side error occurred while processing the command. Original error: java.lang.ClassCastException: io.appium.uiautomator2.model.UiObjectElement cannot be cast to io.appium.uiautomator2.model.UiObject2Element`

While

[2021-04-27 11:35] Rantzur1992 commented on #162
Resolved on Agent side 2.2.0

[2021-04-27 11:35] #162 closed

[2021-05-05 11:22] Rantzur1992 opened #168 "Agent returns 406 when disable_reports is true"
While running a test with the disable_reports = true, the agent returns 406 per driver command.

[2021-05-05 13:23] #168 closed

[2021-05-13 08:04] #135 closed

[2021-07-07 14:20] mahula opened #176 "RESTful API testing via the OpenSDK"
Does the OpenSDK provide a way to test RESTful API (e.g. by utilizing the RESTful API Client Addon)?

The examples in the [README](https://github.com/testproject-io/python-opensdk/blob/master/README.rst) do not address this kind of tests.

[2021-07-07 17:11] mstrelex commented on #176
You can use the `GenericDriver` to run API tests.
Or you can generate a proxy for the RESTful API client addon and use it's methods:
https://github.com/testproject-io/python-opensdk#addon-proxy

[2021-07-08 12:46] mahula commented on #176
Thank you for the quick response, @mstrelex.
I will try both suggested approaches.

[2021-07-08 13:04] mstrelex commented on #176
Sure, feel free to ask for assistance also via our forum or the Intercom.

[2021-07-08 13:04] #176 closed

[2021-07-12 09:08] oriddd opened #179 "Reports performance with latency issues - allow reporting steps at batches from OpenSDK"
Due to performance issues, with latency issues.
Current logic is reporting steps one by one.
Additional logic is required to fix that performance issues with latency issues.
Instead of reporting steps one by one - report steps at batches of up to 10 steps in a time.

[2021-07-14 06:57] qky666 opened #180 "Calling set_script_timeout returns an error"
Calling method `set_script_timeout` returns the following error:
`invalid argument: value must be a non-negative integer`

Example:

[code]

[2021-07-19 16:35] mstrelex opened #181 "False error is logged about a missing token when it's set via driver constructor"
Based on this conversation https://forum.testproject.io/t/error-no-development-token/5978 there is a bug in version `1.2.1`. Even when the token is explicitly set via the driver, an error is still logged saying that it's missing.

[2021-09-15 10:34] Sak2918 opened #187 "Test Execution HTML reports doesn't contains commnets with python SDK"
Previously, I was able to generate HTML reports with all the information on it like description, message, comments, screenshots.
But as of now comments are not getting fetched in the execution reports.
Briefly described here : https://forum.testproject.io/t/comments-in-test-execution-html-reports/6862

1) Is there any option to enable / disable this feature of publishing comments on test execution

[2021-10-12 08:26] Sak2918 opened #190 "Agent on openshift"
I have created a container image using the testproject agent and chrome browser. It is working when I deploy it on my local kubernetes lab but when I deploy it on redhat openshift the agent starts up and I am able to reach it on localhost:8585 but as soon as I start a simple test case the agent crashes with error **"requests.exceptions.ConnectionError: ('Connection aborted.', RemoteDisconnected('R

[2022-01-03 11:46] oriddd opened #193 "Support selenium 4"
- Upgrade Selenium to version 4.0.0.
- Upgrade Appium-Python-Client to version 2.1.2 to support selenium 4.

[2022-02-03 14:43] vincent51689453 opened #195 "How to set the test result be skipped or suspended?"
May I ask is there any way to set the test report result to be skipped, suspended or aborted?
[code]
Because it seems only Boolean type is supported in the passed arguments.

[2022-03-10 20:41] shadowwolf899 opened #196 "Behave hook errors"
When following the example code from [https://docs.testproject.io/testproject-sdk/behavior-driven-development/behave-python#example](https://docs.testproject.io/testproject-sdk/behavior-driven-development/behave-python#example). The code itself seems to run fine but when adding the `@behave_reporter` decorator to either `after_step` or `after_scenario` I get an error: `HOOK-ERROR in after_scenario

[2022-04-20 05:00] Sak2918 opened #197 "Parallel execution with TestProject SDK"
The parallel testing feature of TestProject agent as mentioned here on https://docs.testproject.io/schedule-and-run-tests/parallel-execution#parallel-execution.
So is it possible to run parallel execution with TestProject SDK python in offline environment. How can we do this with SDK ??

[2022-09-12 07:58] Maxco10 opened #198 "INFO:root:No Agent service address found in TP_AGENT_URL environment variable, defaulting to http://127.0.0.1:8585 (localhost)"
Hello,
I am using TestProject for ios automatic test but when I start the test I get this error:

[code]

I tried to navigate with the browser to http://127.0.0.1:8585 and I can see the log:

[code]

Any idea?
Thanks Marco.